.homePage {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  overflow: hidden;

}

.homePage header {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
}

.homePage input {
  width: 90%;
  height: 40px;
  border-radius: 50px;
  border: 2px solid #dddddd;
  background-color: white;
  text-align: center;
  font-weight: 600;
  outline: none;
  color: black;
}

.homePage input::placeholder {
  color: #b3b3b3;
}

.homePage header img {
  width: 25px;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

 .main {
  width: 80%;
  min-height: 400px;
  max-width: 400px;
  margin: auto;
  position: relative;
}
