.likerProfile {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userImg {
    width: 100%;
    height: 60vh;
    min-height: 400px;
    max-height: 600px;
    max-width: 800px;
    z-index: 1;
}

.userImg img {
    width: 100%;
    height: 60vh;
    min-height: 400px;
    z-index: 1;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
}

.info {
    width: 90%;
    max-width: 700px;
    position: relative;
    margin: 20px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info h4 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.info p {
    color: #acacac;
    font-size: 13px;
    font-weight: 600;
    margin: 5px 0;
}

.info img {
    right: 20px;
    width: 30px;
}

.info p {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 700;
}

.info p img {
    width: 20px;
    padding-right: 5px;
}

