.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginModal {
    width: 90%;
    max-width: 600px;
    margin:30px auto;
    box-shadow: 5px 9px 20px 0 rgba(0,0,0,0.2);
    padding:40px 30px;
    border-radius: 15px;
}
.loginModal h2, .loginModal h3 {
    text-align: center;
}
.loginModal h3 {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}
.loginModal form {
    width: 100%;
    height: auto;
    
}
.loginModal form button {
    background: none;
    color: black;
    border: none;
    font-weight: bold;
    margin: 10px 0;
}

.loginModal form input {
    width: 100%;
    margin: 10px 0px;
    height: 40px;
    border:none;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
}
.submitBtn {
    width: 100%;
    background-color: #f4be69 !important;
    height: 35px;
    border-radius: 8px;
}
.otherOptions {
    margin:auto;
    width: 100%;
    margin-top: 20px;
    text-align: center;

}
.otherOptions > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
   

}
.otherOptions > div > span {
    flex: 29%;
    margin: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.otherOptions > div > span i {
    font-size: 22px;
}
.otherOptions > button {
    background:none;
    border: none;
    font-weight: bolder;
    padding: 0;
    font-size: 15px;

}