.profileSetup {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileSetup header {
  height: 60px;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profileSetup > p {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  color: #f62355;
  margin: 0 0 20px 0;
}

.profileSetup header img {
  width: 30px;
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.image {
  width: 200px;
  height: 200px;
  background-color: yellow;
  position: relative;
  border-radius: 50%;
  margin-bottom: 50px;
}

.image img {
  border-radius: 50%;
  width: 100%;
}

.image img:nth-of-type(2) {
  background-color: #b8b8b9;
  border-radius: 50%;
  position: absolute;
  width: 35px;
  bottom: 0;
  right: 20px;
}

.inputGroup {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 60px;
  width: 90%;
  border: 1px solid #7a7a7a;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  max-width: 700px;
  margin-bottom: 20px;
}

.inputGroup input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  position: absolute;
  font-weight: 600;
  color: #7a7a7a;
  bottom: -15px;
  background-color: transparent;
}

.inputGroup .name {
  position: absolute;
  left: 0;
  top: 25%;
  font-weight: 600;
  font-size: 15px;
  transition: 0.8s;
  text-transform: capitalize;
}

.inputGroup input:focus + .label .name,
.inputGroup input:valid + .label .name {
  color: #f62355;
  font-size: 18px;
  font-weight: 700;
  transform: translateY(-100%);
}

.gender {
  width: 90%;
  border: 0;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gender h1 {
  font-size: 15px;
  align-self: flex-start;
}

.gender main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}

.gender main p {
  font-weight: 500;
  font-size: 15px;
}

.gender div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.gender input {
  width: 20px;
  height: 20px;
}

.gender input {
  accent-color: #f62355;
}
