.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 40px;
    z-index: 1;
}

.registerModal {
    z-index: 1;
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    box-shadow: 5px 9px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    max-width: 400px;
    background-color: #ffffffd8;
}

.registerModal h2 {
    color: #f62355;
    font-size: 25px;
    text-align: center;
}

.registerModal h3 {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin: 20px 10% 30px 10%;
    font-weight: 600;
}
.registerModal form {
    width: 100%;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.registerModal form input {
    width: 40%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: none;
    border: 1px solid #00000033;
    border-radius: 8px;
    padding: 10px;
    outline-color: #f62355;
}

.registerModal form input:nth-of-type(9) {
    width: 90%;
}

.registerModal form input::placeholder {
    text-transform: capitalize;
}

.login {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
}

.login span {
    color: #f62355;
    margin-left: 5px;
}

.submitBtn {
    width: 100%;
    background-color: #f62355 !important;
    height: 40px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 0;
}

.woman {
    width: 30%;
    margin-left: 20px;
}

@media (max-width: 700px) {
    .woman {
        display: none;
    }
    
    .registerModal form input {
        width: 40%;
        margin: 5px;
        padding: 8px;
    }


}
